body {
    margin: 0% auto;
    background-color:#eaece5;
    color: #3b3a30;
    font-family: "Roboto";
}

nav {
    background-color: #b2c2bf;
    display: flex;
    justify-content: right;
}

nav a {
    background-color: #eaece5;
    border-style: dashed;
    border-color: #5e5d50;
    padding: 5px;
    margin: 10px;

}

nav a:hover {
    color: peru;
}

.top {
    justify-content: center;
    text-align: center;
    position: relative;
}

#banner {
    position: absolute;
    width: 100%; 
    left: 0px;
    height: 500px;

}

#icon {
    position: absolute;
    top: 10px;
    left: 35%;
    width: 30%;
}

.top h1 {
    color: #b2c2bf;
    font-family: "Roboto Mono";
    font-size: 50px;
    position: absolute;
    left: 24.68%;
    width: 50%;
    top: 300px;
    background-color: #5e5d50;
    border-style: dashed;
    border-color: #b2c2bf;    
}

.top h2 {
    position: absolute;
    text-align: center;
    left: 24.68%;
    width: 50%;
    top: 400px;
    background-color: #b2c2bf;
    border-style: dashed;
    border-color: #5e5d50;

}

.profile {
    justify-content: center;
    position: relative;
    top: 500px;
    background-color: #c0ded9;
    text-align: center;
    
}
.profile img {

    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.profile h2 {
    color: #2d2d26;
}

.profile p {
    padding: 10px;
}

.one-col {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
}

.info {
    text-align: center;
}

.info h1 {
    color: #b2c2bf;
    font-family: "Roboto Mono";
    font-size: 50px;
    background-color: #5e5d50;
    border-style: dashed;
    border-color: #b2c2bf;
}

.info p {
    background-color: #b2c2bf;
    border-style: dashed;
    border-color: #5e5d50;
}

.three-col {
    position: relative;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    top: 472px;
    background-color: #b2c2bf;
    justify-content: center;
}

.three-col h2 {
    text-align: center;
    grid-gap: 10px;
}

.card {
    width: 300px;
    background-color: #c0ded9;
    margin: 10px;


}

.card img {
    display: block;
    width: 80%;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.card h3 {
    text-align: center;
}

footer {
    background-color: #b2c2bf;
    position: relative;
    top: 450px;
    display: flex;
    justify-content: center;
}

footer a {
    background-color: #eaece5;
    border-style: dashed;
    border-color: #5e5d50;
    padding: 5px;
    margin: 10px;

}

footer a:hover {
    color: peru;
}



h2 {
    color: #5e5d50;
    font-family: "Roboto Mono";
    font-size: 20px;
}

a {
    text-decoration: none;
    color: slategray;
}

a:hover {
    color: peru;
}

hr {
    border-style: dotted;
    margin: 10px;
}

form {
    padding: 10px;
    border-radius: 10px;
}